<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bmc.dao.ImportMapper">

    <insert id="addData" parameterType="cn.bmc.entity.UploadData">
        insert into bmc_goods
        (g_id,g_price,s_id,uptime)
        values
        (
        #{gId},
        #{gPrice},
        #{sId},
        #{upTime}
        )
    </insert>
    <update id="updateDataById" parameterType="cn.bmc.entity.UploadData">
        update bmc_goods
        set
        g_id=#{gId},
        g_price=#{gPrice},
        s_id=#{sId},
        uptime=#{upTime}
        where g_id = #{gId}
    </update>

    <select id="selectByID" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM bmc_goods
        WHERE g_id=#{gId}
    </select>
</mapper>